/*
Theme Name: ferry
Theme URI: https://www.themeansar.com/free-themes/ferry
Author: themeansar
Author URI: https://www.themeansar.com
Description: ferry is a powerful bootstrap WordPress theme for ecommerce and woocommerce. This theme designed for ferry (e-commerce business , online-shop, store, online business etc.). This theme is packed with lots of exciting feature that enhances the ecommerce experience. This theme package many premium features and several custom widgets which helps making your online store.Theme suitable for photography, e-shop, gallary, magzine, blog, blog full-width, page full-width, blog masonry, blog slider, service, fashion, portfolio, music. View the demo of ferry Premium https://themeansar.com/demo/wp/ferry/default/
Version: 2.6.4
Requires PHP: 5.4
Tested up to: 5.4.2
Tags: two-columns, three-columns, left-sidebar, right-sidebar, translation-ready, custom-background, custom-logo, featured-images, footer-widgets, full-width-template, blog, e-commerce, photography
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: ferry
*/

/* --------------------------------------
=========================================
	Header
=========================================
-----------------------------------------*/
.ferry-trhead {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 999;
}
.ferry-cart {
	position: relative;
}
.ferry-cart i {
	font-size: 20px;
}
.ferry-cart-count {
    background: #e33729;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    line-height: 15px;
    margin-left: -7px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 16px;
}

h1.site-title a:hover, p.site-description{color:#B17F53;}

.site-branding-text a:hover{color:#B17F53;}
.ferry-head-detail {
	padding: 5px 0;
}
.ferry-head-detail .info-left {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.ferry-head-detail .info-left li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ferry-head-detail .info-left li a {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.ferry-head-detail .info-left i {
	font-size: 12px;
	padding-right: 10px;
}
.info-right {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
.info-right li {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
}
.ferry-head-detail .info-right li a {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.ferry-head-detail .info-right i {
	font-size: 14px;
	padding-right: 10px;
}
.ferry-head-detail ul ul {
	display:none;
	position:absolute;
	top:98%;
	right: inherit;
	background:#fff;
	padding:0;
	border-radius: 0;
	z-index: 999;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	border: 1px solid #eee;
}
.ferry-head-detail ul ul li {
	float:none;
	width:100%;
	min-width: 100px;
	padding: 8px 0;
}
.ferry-head-detail ul ul a {
	line-height:1;
	padding: 8px 16px;
}
.ferry-head-detail .info-left ul li a, .ferry-head-detail .info-right ul li a {
	text-transform: capitalize;
}
.ferry-head-detail ul ul ul {
	top:0;
	left:100%;
}
.ferry-head-detail ul li:hover > ul {
	display:block;
}
.ferry-head-detail ul li:last-child > ul {
	float: left;
	right: 0;
	left: inherit;
}
.ferry-cart {
	position: relative;
}
.ferry-cart-count {
    background: #e33729;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    line-height: 15px;
    margin-left: -15px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 16px;
}
/*---------------------------------------
	Theme Menu          
-----------------------------------------*/

.navbar-wp {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	z-index: 1000;
}
.navbar-brand {
	font-size: 26px;
	height: auto;
	line-height: 25px;
	margin-right: 50px;
	padding: 15px 0;
	text-shadow: 2px 2px 1px rgba(150, 150, 183, 0.18);
}
.navbar-brand span.site-description {
	font-size: 13px;
	line-height: 0;
}
.navbar-wp .navbar-nav > li> a {
	padding: 13px 22px;
    font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	background-color: transparent;
}
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	background: transparent;
}
.navbar-toggler {
	border-radius: 4px;
	border: none;
}
.navbar-wp .navbar-brand {
    font-size: 22px;
    line-height: 20px;
    padding: 8px 0 0 15px;
    transition: all 0.25s ease-out 0s;
}
.ferry-search-box {
    position: absolute;
    right: 0px;
    top: 16px;
}

.ferry-search-modal .ferry-search .btn {
	padding: 2px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
	border-width: 1px;
	border-style: solid;
}
.ferry-search-modal .modal-header .close:focus, .ferry-search-modal .modal-header .close:hover {
	background: none;
}
.ferry-search-modal {
	top: 30%;
}
.ferry-search-modal .modal-header {

}
.ferry-search-modal .modal-content{
	background: transparent;
	box-shadow: none;
	border: none;
}
.modal-backdrop {
	background: #fff;
}
.modal-backdrop.in {
    opacity: 0.90;
}
.modal-header {
	border-bottom: none;
}
/*---------------------------------------
	Theme Menu Center 
-----------------------------------------*/
.header-center .navbar-wp {
	box-shadow: 0 3px 5px rgba(0,0,0,.05);
	border-width: 1px 0 1px 0;
	border-style: solid;
}
.header-center .logo-center {
	width: 100%;
	text-align: center;
	padding: 0;
}
.header-center .logo-center .navbar-brand {
	float: none;
    display: inline-block;
    margin: 8px auto 0 auto;
    font-weight: bold;
}
.navbar-brand span.site-description {
	font-size: 12px;
	font-weight: normal;
	line-height: 0;
}
.header-center .ta-search-box {
    position: absolute;
    right: 0px;
    top: 0;
}
.m-header {
    display: none;
}
.navbar-wp .navbar-nav > li> a {
	padding: 13px 22px;
    font-size: 14px;
	letter-spacing: 0.5px;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	transition: all .25s ease-out;
	margin-bottom: 0px;
	font-weight: 600;
	text-transform: capitalize;
	display: block;
}
.navbar-wp .navbar-nav > li > ul > li > a i {
	padding-right: 10px;
}
.header-center .navbar-wp {
    position: inherit;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 999;
    transition: all 1s ease-out;
    border-radius: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}
.mg-menu-full {
    position: relative;
}
.navbar-wp .dropdown-menu {
	border-radius: 0;
	padding: 0;
	border: none;
}
.navbar-wp .dropdown-menu > li > a {
	padding: 12px 15px;
	font-size: 12px;
	display: block;
	font-weight: normal;
	text-transform: capitalize;
}
/*---------------------------------------
	Body & Global           
-----------------------------------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.boxed {
	width: 1170px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
}
a {
	text-decoration: none;
}
body a:focus, body a:hover {
	outline: none;
	text-decoration: none;
}
select {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #444;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
 .no-gutter > [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	padding: 6px 12px;
	line-height: 25px;
	border-width: 2px;
	border-style: solid;
}
input[type="button"], input[type="reset"], input[type="submit"], button {
	padding: 5px 35px;
	line-height: 30px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-width: 2px;
	border-style: solid;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.form-control {
	border-width: 2px;
}
select, textarea {
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	width:100%;
}
mark, .mark {
	padding: 2px 5px;
	border-radius: 3px;
}
/*Responsive Video*/
.responsive-video {
	height: 0;
	padding-top: 1px;
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
}
.responsive-video iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: none;
}
textarea {
    height: 12rem;
    line-height: 1.5;
    width: 100%;
}
/*---------------------------------------
	Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 28px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: -0.03em;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 50px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 50px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.text-alignleft {
    text-align: left;
}

.text-alignright {
    text-align: right;
}

.text-aligncenter {
    text-align: center;

}
.ferry-accordion-heading {
	margin: 10px 0;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
.ferry-accordion-body {
	border-width: 1px;
	border-style: solid;
	margin: -10px 0 10px 0;
	padding: 10px;
	transition: all 0.4s ease 0s;
}
.ferry-accordion-heading > a.collapsed .icon-expanded {
	display: none;
}
.ferry-accordion-heading > a i.icon-expanded {
	display: none;
}
.ferry-accordion-heading > a.collapsed .icon-collapsed {
	display: inline-block;
	vertical-align: baseline;
}
blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
.margin-top-zero {
	margin-top: 0px;
}
.margin-bottom-zero {
	margin-bottom: 0px;
}
.margin-top-10 {
	margin-bottom: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-top-50 {
	padding-top: 50px;
}
.padding-top-40 {
	padding-top: 40px;
}
.padding-top-60 {
	padding-top: 60px;
}
.padding-top-80 {
	padding-top: 80px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-50 {
	padding-bottom: 50px;
}
.padding-bottom-60 {
	padding-bottom: 60px;
}
.padding-bottom-80 {
	padding-bottom: 80px;
}
/*---------------------------------------
	Alerts Styles           
-----------------------------------------*/
.alert-success, .text-success {
	background-color: #2ac56c;
	color: #fff;
}
.alert-info, .text-info {
	background-color: #4593e3;
	color: #fff;
}
.alert-danger, .text-danger {
	background-color: #f06060;
	color: #fff;
}
.alert-warning, .text-warning {
	background-color: #fcd04b;
	color: #fff;
}
.progress-bar-success {
	background-color: #2ac56c;
	color: #fff;
}
.progress-bar-info {
	background-color: #4593e3;
	color: #fff;
}
.progress-bar-danger {
	background-color: #f06060;
	color: #fff;
}
.progress-bar-warning {
	background-color: #fcd04b;
	color: #fff;
}
.ferry-skills .progress {
	border-radius: 0;
}
.ferry-skills .progress .progress-bar {
	overflow: hidden;
	position: absolute;
}
.subscription-success {
	color: #2ac56c;
}
.subscription-error {
	color: #f06060;
}
/*---------------------------------------
	Button Styles           
-----------------------------------------*/
.btn {
	border-radius: 30px;
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two {
	margin-left: 15px;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 50%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 50%;
}
.pagination > li > a, .pagination > li > span {
	margin: 0 3px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}

.navigation.pagination .nav-links .page-numbers, .navigation.pagination .nav-links a {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    line-height: 50px;
    margin: 0 3px 10px;
    padding: 0px;
    vertical-align: baseline;
    border-radius: 50px;
    white-space: nowrap;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease 0s;
    text-decoration: none;
    position: relative;
    float: left;
}

.navigation.pagination .nav-links .page-numbers.current, .navigation.pagination .nav-links a:hover {
    color: #FFFFFF;
}

/*---------------------------------------
	WP Styles  
-----------------------------------------*/
/*--WP--*/

.bypostauthor > article .fn:after {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.sticky {
	display: none;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.content-area img.alignnone, .content-area figure.alignnone img {
	width: 100%;
	height: auto;
}
.content-area figure {
	width: 100%;
}
.entry-header h1 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	font-size: 24px;
}
.entry-header h1::before {
	border: 1px solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.entry-header h1:hover::before {
	width: 13%;
}
.entry-footer {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.entry-footer .screen-reader-text {
	display: none;
}
img.alignnone {
	width: 100%;
	height: auto;
}
img.size-large {
	width: 100%;
	height: auto;
}

iframe{max-width: 100%;}
/*----woocommerce----*/
/* woocommerce v2.3.5 */
*:focus {
	outline: 0;
}
.woocommerce h2 {
	font-size: 22px;
}
.woocommerce h3 {
	font-size: 20px;
}
/*----product----*/
.woocommerce .products span.onsale, .woocommerce span.onsale {
	border-radius: 0;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 25px;
	margin: 4px !important;
	min-height: 10px;
	padding: 0 12px;
	z-index: 999;
}
.woocommerce span.onsale {
	margin: 10px !important;
}
.woocommerce ul.products li.product {
	text-align: center;
	padding-bottom: 10px;
	transition: all 0.4s ease 0s;
	border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}
.woocommerce ul.products li.product:hover {
	box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.woocommerce ul.products li.product a {
	overflow: hidden;
	position: relative;
}
.woocommerce ul.products li.product a img {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.woocommerce ul.products li.product a img:hover {
	transform: scale(1.1);
}
.woocommerce-checkout form .col2-set .col-1, .woocommerce-checkout form .col2-set .col-2{
	float: none !important;
    flex: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0;
}
.woocommerce-checkout form .col2-set {
    width: 50%;
    float: left;
    padding-right: 1.5vw;
}
.woocommerce-checkout form #order_review, .woocommerce-checkout form #order_review_heading {
    width: 50%;
    padding-left: 1.5vw;
    float: right;
    clear: right;
}
.woocommerce-page .woocommerce-ordering select {
	padding: 12px 15px 12px 10px;
	color: #A0A0A0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
.woocommerce-page .products .product > a:first-child {
	position: relative;
	text-align: center;
	display: block;
}
.woocommerce-page .products a.button {
	display: inline-block;
	text-align: center;
	padding: 16px 20px;
	border-radius: 30px;
	margin: 10px;
	border: none;
	font-size: 12px;
	margin: 0 auto !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.woocommerce-page .products h3 {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 12px;
	line-height: 25px;
	float: none;
	width: auto;
	margin: 0;
}
.woocommerce-page .products .star-rating {
	position: relative;
	margin: 0 auto;
}
.woocommerce-page .products a .price {
	line-height: 20px;
	width: 100%;
	float: left;
	height: auto;
	min-height: 40px;
	text-align: center;
	padding: 10px 0;
}
.woocommerce ul.products li.product .price {
	font-size: 14px;
}
.woocommerce-page .products a .price del {
	display: inline-block !important;
	line-height: 20px;
}
.woocommerce-page .products a .price ins {
	display: inline-block;
	font-weight: bold;
	background: none;
	line-height: 20px;
	margin-left: 10px;
}
.woocommerce-page .products .added_to_cart {
	display: inline-block;
	text-align: center;
	padding: 6px 20px 6px 20px;
	border-radius: 30px;
	border: none;
	font-size: 12px;
	margin: 0;
}
.woocommerce-page .woocommerce-result-count {
	float: left;
	font-size: 14px;
	line-height: 46px;
	margin-top: 20px;
}
.woocommerce-page .woocommerce-ordering {
	float: right;
	margin-top: 20px;
}
.woocommerce-page .product-type-simple {
	position: relative;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	font-size: inherit;
	border-radius: 30px;
	float: right;
}
footer .ferry-widget .woocommerce ul.cart_list li img, footer .ferry-widget .woocommerce ul.product_list_widget li img {
	margin-top: 7px;
}
/*woocommerce-tabs*/
.woocommerce div.product .woocommerce-tabs .panel {
	padding: 10px 30px;
}
.tabs.wc-tabs {
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-width: 0 0 1px 0;
	border-style: solid;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	background: transparent;
	border: none;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	font-size: 22px;
	line-height: 25px;
}
.related.products {
	text-align: center;
}
.related.products h2 {
	font-size: 26px;
	line-height: 40px;
}
/*woocommerce-form*/
.woocommerce form .form-row {
	display: block;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	height: 40px;
	margin-bottom: 20px;
	border: 2px solid #eee;
	color: #ccc;
	border-radius: 3px;
	padding: 6px 12px;
}
.select2-container .select2-choice {
	height: 40px;
	padding: 6px 12px;
	border: 2px solid #eee;
}
.select2-drop-active {
	border: none;
}
/*woocommerce-cart*/
.woocommerce table.shop_table {
	border-radius: 0;
}
.woocommerce table.shop_table td {
	padding: 20px 12px;
}
.woocommerce table.shop_table td img.size-shop_thumbnail {
	width: 60px;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
	float: none;
	line-height: 30px;
	padding: 5px 35px;
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	line-height: 30px;
	padding: 5px 35px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-radius: 3px;
	height: 40px;
	border-width: 2px;
	border-style: solid;
	min-width: 110px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	padding: 12px 20px;
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	margin: 0px 0 40px;
	border-radius: 3px;
	list-style: none;
}
.woocommerce-page .woocommerce-message a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-error {
	list-style: none;
	padding: 40px 10px 10px 20px;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
}
.woocommerce-page .woocommerce-error a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	list-style: none;
	padding: 0;
	margin: 0px 0 40px;
	border-radius: 3px;
	border: none;
	float: left;
	width: 100%;
	margin-top: 25px !important;
}
.woocommerce-page .woocommerce-info a {
	padding: 6px 14px;
	font-size: 12px;
}
.woocommerce-page .woocommerce-info {
	float: left;
	text-align: left;
	padding-top: 30px;
}
.woocommerce-page .woocommerce .woocommerce-info {
	border-radius: 3px;
	border: none;
	padding: 15px 15px 15px 50px;
	margin-bottom: 40px;
}
.woocommerce-page .woocommerce .woocommerce-info a {
	opacity: 0.9;
}
/*woocommerce-pagination*/
.woocommerce nav.woocommerce-pagination ul {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	float: left;
	line-height: 1.42857;
	margin: 6px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 36px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav .woocommerce-pagination ul li span.current {
	border-width: 1px;
	border-style: solid;
}
/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}
/*----contactform----*/
.wpcf7-form .wpcf7-form-control {
	margin-top: 6px;
	margin-bottom: 15px;
	font-size: 12px;
	height: 40px;
	padding: 6px 12px;
	display: block;
	line-height: 1.42857143;
	width: 100%;
	border-width: 2px;
	border-style: solid;
}
.wpcf7-form .wpcf7-textarea {
	height: 150px;
	border-radius: 3px;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	box-shadow: none;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	width: auto;
}
/*----contactform footer-widget----*/
footer .ferry-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	margin-bottom: 0;
}


/*---------------------------------------
	ferry-slider-warraper          
-----------------------------------------*/
.ferry-slider-warraper #ferry-slider {
	margin: 0;
	position: relative;
	z-index: 1;
	float: left;
	width: 100%;
}
.ferry-slider-warraper #ferry-slider .item img {
	width: 100%;
	min-height: 400px;
}
.ferry-slider-warraper #ferry-slider .item iframe {
	border: 6px solid #fff;
}
.ferry-slide {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background: #333;
}
/*--------------- ti slider inner ---------------*/
#ferry-slider .ferry-slider-inner {
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
	background: rgba(18, 4, 1, 0.5);
	display: flex;
	align-items: center;
}
#ferry-slider .slide-caption {
	width: 55%;
	margin: auto;
	text-align: center;
}
#ferry-slider .slide-caption h1 {   
	font-size: 50px;
	line-height: 1.15;
	font-weight: 900;
	transition: font 200ms ease-out 0s;
}
#ferry-slider .slide-caption .description {
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0 auto;
	width: 90%;
}
#ferry-slider .slide-caption .description p {
	margin: 0 0 10px 0;
	letter-spacing: 0.1em;
	font-size: 18px;
	font-weight: 400;
}
#ferry-slider p {
	font-size: 14px;
}
/*--------------- ferry-slider-Control ---------------*/
.ferry-slider-warraper .owl-controls {
	margin-top: -24px;
}
.ferry-slider-warraper .owl-controls .owl-buttons div {
	width: 40px;
	height: 60px;
	display: block;
	font-size: 500%;
	line-height: 60px;
	opacity: 1;
	border-radius: 0;
	text-align: center;
}
.ferry-slider-warraper .owl-controls .owl-buttons div i {
}
.ferry-slider-warraper .owl-controls .owl-buttons {
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.ferry-slider-warraper:hover .owl-controls .owl-buttons {
	opacity: 1;
}
.ferry-slider-warraper:hover .owl-controls .owl-buttons .owl-prev {
	left: 35px;
}
.ferry-slider-warraper:hover .owl-controls .owl-buttons .owl-next {
	right: 35px;
}
.ferry-slider-warraper .owl-controls .owl-buttons .owl-prev, .ferry-slider-warraper .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	z-index: 5;
	margin: -30px 0 0;
	transition: all 0.3s ease 0s;
}
.ferry-slider-warraper .owl-controls .owl-buttons .owl-prev {
	left: 8px;
}
.ferry-slider-warraper .owl-controls .owl-buttons .owl-next {
	right: 8px;
}
.ferry-slider-warraper .owl-controls .owl-page {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}
.ferry-slider-warraper .owl-controls .owl-page.active span {
	height: 12px;
	width: 12px;
}
.ferry-slider-warraper .owl-controls .owl-page span {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 0;
	background: transparent;
	border-width: 4px;
	border-style: solid;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.ferry-slider-warraper .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #fff;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.ferry-slider-warraper .owl-pagination {
	bottom: 15px;
	left: 0;
	position: relative;
	right: 0;
	text-align: center;
}
/*--------------- ti slider Custom Buttons---------------*/
.btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus {
	outline: none;
	margin: 20px auto;
	letter-spacing: 1px;
	border-radius: 30px;
}
.btn.btn-tislider-two {
	/* margin-left: 15px; */
	outline: none;
	letter-spacing: 1px;
	border-radius: 30px;
}
/*---------------------------------------
	ferry-section         
-----------------------------------------*/
.ferry-section {
	padding: 60px 0;
	margin: 0;
}
#content {
	padding: 60px 0;
}
/*---------------------------------------
	ferry-heading           
-----------------------------------------*/
.ferry-heading {
	margin-bottom: 24px;
	text-align: center;
	position: relative;
}
p.heading {
	font-size: 18px;
}
.ferry-heading h1 {
	font-size: 26px;
	font-weight: normal;
}
.ferry-heading h3 {
	font-size: 75px;
	font-weight: bold;
}
.ferry-heading .ferry-heading-inner {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 0;
	line-height: 1;
	text-transform: capitalize;
	width: auto;
	letter-spacing: -0.05em;
}
.ferry-heading .ferry-heading-inner i {
	display: block;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	bottom: -20px;
	width: 30px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.ferry-heading-bor-bt h5 {
	position: relative;
	font-size: 20px;
	margin-bottom: 40px;
	padding-bottom: 15px;
}
/*---------------------------------------
	ferry-ads
-----------------------------------------*/
.ferry-adsbanner {
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 100px;
    padding-right: 0;
 	padding-left: 0;
 	border-radius: 4px;
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ferry-adsbanner img {
    width: 100%;
}
.ferry-adsbanner figure {
	position: relative;
}
.ferry-adsbanner .adsbanner-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease 0s;
    z-index: 10;
    padding: 30px;
}
.ferry-adsbanner .text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.vert {
    display: table-cell;
    vertical-align: middle;
}

.ferry-adsbanner .adsbanner-inner {
    bottom: 14%;
}
.ferry-adsbanner .text-1 {
    font-size: 0.62em;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0.3em;
    text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.19);
    color: #fff;
    text-align: justify;
}
.ferry-adsbanner .text-2 {
    font-size: 0.25em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 0.9em;
    text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.19);
    color: #fff;
    text-align: left;
    word-break: break-all;
}
/*---------------------------------------
	ferry-product          
-----------------------------------------*/
#product .ferry-product{
    padding-bottom: 10px;
    text-align: center;
    margin: 15px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#product .ferry-product a {
    overflow: hidden;
}
#product .ferry-product a .onsale {
    left: -1px;
    right: auto;
    top: 10px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    margin: 18px;
    min-height: 10px;
    padding: 0 12px;
    z-index: 111;
    background: #4caf50;
    color: #fff;
}
#product .ferry-product a img {
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0 0 1em;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.11);
    border-radius: 4px 4px 0 0;
}
#product .ferry-product a h3 {
    display: inline-block;
    float: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 0;
    position: relative;
    width: auto;
}
#product .ferry-product a .star-rating {
   display: none;
}

#product .ferry-product a .price {
    float: left;
    height: auto;
    line-height: 20px;
    min-height: 40px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #000;
}
#product .ferry-product a .price del {
    line-height: 20px;
}
#product .ferry-product a .price ins {
    color: #e96656;
    margin-left: 10px;
    line-height: 20px;
}
#product .ferry-product a.button, .added_to_cart {
    border: medium none;
    border-radius: 30px;
    display: inline-block;
    font-size: 12px;
    margin: 0 auto;
    padding: 6px 20px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#product .ferry-product:hover a.button {
	opacity: 1;
}
#product .ferry-product:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

/*---------------------------------------
	ferry-blog          
-----------------------------------------*/
.ferry-blog-section {
}
.ferry-blog-section .overlay {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 60px 0;
}
.ferry-blog-post-box {
	margin-bottom: 40px;
	background: #fff;
	padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	background-position: center;
	background-size: cover;
	position: relative;
}
.ferry-blog-post-box img {
    width: 100%;
    height: 100%;
    min-height: 270px;
    border-radius: 4px;
}
.ferry-blog-post-box .small {
	font-size: 14px;
    padding: 36px 36px 25px;
	border-radius: 4px;
}
.ferry-blog-post-box .small > p {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.ferry-blog-post-box .small table {
	width: 100%;
}
.ferry-blog-post-box .small table tr th, .ferry-blog-post-box .small table tr td {
	padding: 8px;
	border: 1px solid #ccc;
}
.ferry-blog-post-box .small input[type="checkbox"], .ferry-blog-post-box .small input[type="radio"] {
	display: inline;	
}
.ferry-blog-thumb {
	position: relative;
	width: 100%;
	margin-bottom: 22px;
	float: left;
}
.ferry-blog-thumb img {
	position: relative;
	max-width: 100%;
	float: left;
	height: auto;
	border-radius: 4px 4px 0 0;
}
.ferry-blog-date {
	height: 32px;
	min-width: 100px;
	padding: 0;
	margin: 0 auto;
	z-index: 10;
	display: inline-block;
}
.ferry-blog-date span {
	font-size: 12px;
	font-weight: 600;
}
.ferry-blog-author {
	font-size: 16px;
	font-weight: 800;
	width: 65px;
	height: 65px;
	right: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	margin: 0 10px -30px;
	z-index: 999;
	box-shadow: 0 1px 17px -4px rgba(0, 0, 0, 0.26);
}
.ferry-blog-author img {
	max-width: 100%;
	border-radius: 100%;
}
.ferry-blog-post-box h2.ferry-blog-title {
	font-size: 29px;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.2;
	position: relative;
	margin-top: 0;
}
.ferry-blog-category {
	padding: 20px 0 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #eee;
}
.ferry-blog-category a {
	
	color: #b6b6b6;
	display: inline;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	padding: 0 10px 0 0;
}
.ferry-blog-category i {
	color: #888;
}
.btn-blog {
	padding: 10px 20px;
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	background: transparent;
	font-size: 14px;
}
.btn-blog:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.ferry-info-author-block {
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 40px;
	margin-top: 10px;
	padding: 20px 20px 0px 20px;
	color: #999;
	background: #fff;
}
.ferry-info-author-block a {
	color: #777;
	font-size: 13px;
}
.ferry-info-author-block .row {
	margin: 0;
}
.ferry-info-author-block h4 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
.ferry-info-author-block h4 span {
	color: #999999;
	font-size: 13px;
	padding-right: 5px;
}
.ferry-info-author-block h4 span i {
	padding-right: 5px;
}
.ferry-info-author-block .ferry-author-pic img {
	margin: 0 25px 15px 0;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ferry-info-author-block .ferry-info-author-social {
	font-size: 24px;
	padding: 0;
}
.ferry-info-author-block .ferry-info-author-social li a {
	color: #dbdbdb;
	font-size: 24px;
}
.ferry-info-author-block .ferry-info-author-social li a:hover {
	color: #777;
}
.comments-area label {
    clear: both;
    width: 100%;
    color: #212121;
}
.comments-area .comment-body {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 16px;
}

.comment_section .comment-reply-link:before {
	content: "\f112";
	font-family: FontAwesome;
	padding-right: 8px;
}
.comment_section .comment-reply-link {
	border-radius: 4px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
	background: #f0f0f0;
	color: #666;
	border-color: #f0f0f0;
}
.ferry-comments a {
	color: #777;
}
.ferry-comments .ferry-reply {
	border-radius: 4px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.ferry-comments a i {
	padding-right: 6px;
}
.ferry-comments h4 {
	color: #888;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
.ferry-comments h4 span {
	color: #999999;
	font-size: 12px;
	padding-left: 7px;
}
.ferry-comments .btn {
	margin-left: 5px;
}
.ferry-comments .media {
	margin-top: 0;
}
.ferry-comments .comment .media-body > p:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	margin-top: 0;
}
.ferry-comments li .media-body > .small {
	border-bottom: none!important;
	padding: 0;
	color: #999;
}
.ferry-comments li .media-body > p {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0px 20px 5px;
	margin-bottom: 20px;
	color: #999;
}
.ferry-comments li .media .media {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ferry-comments li:last-child .media-body > p {
	border-bottom: none;
	padding: 0;
}
.ferry-comments .media-left img {
	height: 64px;
	width: 64px;
	border-radius: 3px;
}
.ferry-comments .comment-list li {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	border-left: 2px solid #eee;
}
.ferry-blog-thumb > .responsive-video {
	z-index: 9;
	min-height: 240px;
}
.blog-slider {
	position: relative;
	z-index: 9;
	margin-bottom: -34px;
}
.blog-slider .owl-controls .owl-buttons div {
	margin: 5px;
	font-size: 23px;
	opacity: 0.8;
	display: inline-block;
	padding: 5px 13px;
	border: 1px solid #fff;
	color: #fff;
	opacity: 0;
	transition: all 0.4s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.blog-slider .owl-controls .owl-buttons div:hover {
	border-width: 1px;
	border-style: solid;
}
.blog-slider .owl-controls .owl-buttons div i {
}
.blog-slider:hover .owl-controls .owl-buttons div {
	opacity: 1;
}
.blog-slider .owl-controls .owl-buttons div.owl-prev {
	position: absolute;
	left: 20px;
	top: 40%;
}
.blog-slider .owl-controls .owl-buttons div.owl-next {
	position: absolute;
	right: 20px;
	top: 40%;
}
.blog-slider .owl-controls .owl-buttons div.owl-prev {
	left: 20px;
}
.blog-slider .owl-controls .owl-buttons div.owl-next {
	right: 20px;
}
.blog-slider .owl-pagination {
	padding-bottom: 10px;
}
.blog-slider .owl-controls .owl-page {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}
.blog-slider .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	background: rgba(255,255,255,0.20);
	transform: rotate(40deg);
}
.blog-slider .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #fff;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.blog-slider .owl-pagination {
	bottom: 30px;
	left: 0;
	position: relative;
	right: 0;
	text-align: center;
}

/* --------------------------------------
=========================================
	ferry-breadcrumb-section
=========================================
-----------------------------------------*/
.ferry-breadcrumb-section {
	background-image: url(images/breadcrumb/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	margin: 0 0 0px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	box-shadow: 0 0 5px 0 #aaaaaa;
}
.ferry-breadcrumb-section .overlay {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	padding: 100px 0;
	position: relative;
	width: 100%;
}
.ferry-breadcrumb-title {
	text-align: center;
	padding: 0;
}
.ferry-breadcrumb-title h1 {
	font-size: 75px;
	font-weight: bold;
	margin: 0;
	line-height: 85px;
	padding-bottom: 0px;
}
.ferry-page-breadcrumb {
	list-style: none outside none;
	margin-bottom: 12px;
	padding: 0;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}
.ferry-page-breadcrumb > li {
	display: inline-block;
}
.ferry-page-breadcrumb > li + li:before {
	content: "\f105";
	font-family: fontawesome;
	padding: 0 5px;
}
/* --------------------------------------
=========================================
	ferry-sidebar
=========================================
-----------------------------------------*/
.ferry-sidebar {
	padding: 0;
}
.ferry-sidebar a {
	transition: all 0.3s ease 0s;
}
.ferry-sidebar .ferry-widget .btn {
	padding: 2px 12px;
	border: none;
	border-radius: 0;
	height: 40px;
}
.ferry-sidebar .ferry-widget {
	margin-bottom: 30px;
	padding: 10px 20px;
	border-width: 3px 0 0;
	border-style: solid;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ferry-sidebar .ferry-widget .input-group .form-control {
	height: 40px;
}
.ferry-sidebar .ferry-widget ul {
	padding: 0;
	list-style: none;
}
.ferry-sidebar .ferry-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ferry-sidebar .ferry-widget ul li:last-child {
	border: none;
}
.ferry-sidebar .ferry-widget h2 {
	font-size: 18px;
	line-height: 20px;
}
.ferry-sidebar .ferry-widget h6, .ferry-sidebar .ferry-widget h2 {
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 0;
}
.ferry-sidebar .ferry-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget ul.menu li .sub-menu {
	margin-left: 15px;
}
.ferry-sidebar .ferry-widget ul.menu li .sub-menu li {
	border-bottom: none;
	padding: 10px 0 0;
}
.ferry-sidebar .ferry-widget.widget_search .btn {
	border: medium none;
	border-radius: 0 3px 3px 0;
	height: 40px;
	padding: 2px 12px;
	transition: all 0.3s ease 0s;
}
.ferry-sidebar .ferry-category-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.ferry-sidebar .ferry-category-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget .ferry-widget-tags, .ferry-sidebar .ferry-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
.ferry-sidebar .ferry-widget .ferry-widget-tags a, .ferry-sidebar .ferry-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ferry-sidebar .ferry-widget-tags a:hover, .ferry-sidebar .ferry-widget .tagcloud a:hover {
	transition: all 0.4s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget .ferry-twitter-feed li {
	margin: 2px 0;
	padding-bottom: 5px;
	padding-left: 20px;
	position: relative;
}
.ferry-sidebar .ferry-widget .ferry-twitter-feed li::before {
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 0;
	content: "\f099";
}
.ferry-sidebar .ferry-widget .ferry-twitter-feed li a {
	padding-right: 3px;
}
.ferry-sidebar .ferry-widget .ferry-twitter-feed li .twitter-text {
	display: table;
}
.ferry-sidebar .ferry-widget .ferry-twitter-feed li .date-twitter {
	font-size: 12px;
}
.ferry-sidebar .ferry-opening-hours li i {
	font-size: 14px;
	padding-right: 10px;
}
.ferry-sidebar .ferry-widget .ferry-widget-address li {
	clear: both;
}
.ferry-sidebar .ferry-widget .ferry-widget-address li span.icon-addr {
	height: 25px;
	line-height: 25px;
	margin: 5px 15px 8px 8px;
	text-align: center;
	width: 25px;
	display: inline-block;
	float: left;
	border-radius: 3px;
}
.ferry-sidebar .ferry-widget .ferry-widget-address li span.icon-addr i {
	font-size: 14px;
}
.ferry-sidebar .ferry-widget .ferry-social {
	padding: 10px 0px;
}
.ferry-sidebar .ferry-widget .ferry-social li {
	display: inline-block;
}
.ferry-sidebar .ferry-widget .ferry-social li span.icon-soci {
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 8px 12px 8px 8px;
	text-align: center;
	width: 32px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
.ferry-sidebar .ferry-widget .ferry-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget .ferry-social li span.icon-soci i {
	font-size: 16px;
}
.ferry-sidebar .ferry-widget-payment a {
	font-size: 30px;
}
.ferry-sidebar .ferry-widget .ferry-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 12px;
}
.ferry-sidebar .ferry-widget .ferry-widget-quote .btn {
	border-radius: 2px;
	padding: 5px 35px;
}
/*--ferry-mailchimp--*/ 
.ferry-sidebar .ferry-mailchimp-widget .btn {
	border-radius: 0 3px 3px 0;
	transition: all 0.3s ease 0s;
}
/*--ferry-blog-post end--*/ 
.ferry-sidebar .ferry-widget .ferry-blog-post {
	margin-bottom: 0;
	margin-top: 0 !important;
	overflow: hidden;
	padding-bottom: 20px;
}
.ferry-sidebar .ferry-widget .ferry-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
.ferry-sidebar .ferry-widget .ferry-blog-post .ferry-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
.ferry-sidebar .ferry-widget .ferry-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
.ferry-widget .ferry-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
/*--ferry-blog-post end--*/ 
/*--calendar_wrap--*/ 
.ferry-sidebar .ferry-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
.ferry-sidebar .ferry-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.ferry-sidebar .calendar_wrap table thead th {
	border-width: 1px;
	border-style: solid;
}
.ferry-sidebar .calendar_wrap table tbody td:hover, .ferry-sidebar .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
.ferry-sidebar .calendar_wrap table tfoot {
	border-width: 1px;
	border-style: solid;
}
.ferry-sidebar .ferry-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
}
.ferry-sidebar .ferry-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.ferry-sidebar .ferry-widget .calendar_wrap table tfoot {
	font-size: 11px;
}
.ferry-sidebar .ferry-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
.ferry-sidebar .ferry-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
/*--calendar_wrap end--*/ 
.ferry-sidebar .ferry-widget .textwidget select, .ferry-sidebar .ferry-widget .textwidget img {
	width: 100%;
}
/*----woocommerce footer-widget----*/
.ferry-sidebar .ferry-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}
/* --------------------------------------
=========================================
	ferry-error page
=========================================
-----------------------------------------*/
.ferry-error-404 h1 {
	font-size: 100px;
	line-height: 80px;
}
.ferry-error-404 h1 i {
	padding: 5px;
}
.ferry-error-404 h4 {
	line-height: 40px;
}
.ferry-error-404 p {
	line-height: 30px;
}

/* --------------------------------------
=========================================
	ferry-footer
=========================================
-----------------------------------------*/
footer .ferry-footer-widget-area {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 50px;
}
footer .ferry-widget {
	margin-bottom: 50px;
}
footer .ferry-widget:nth-child(4n+1) {
	clear: both;
}
footer .ferry-widget .ferry-subscribe {
	padding: 1px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
}
footer .ferry-widget .ferry-subscribe:hover, footer .ferry-widget .ferry-subscribe:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-search-widget .btn {
	padding: 1px 12px;
	border-radius: 0;
	height: 40px;
}
footer .ferry-widget.widget_search .btn {
	border-width: 1px;
	border-style: solid;
	padding: 2px 12px;
	height: 40px;
	border-top-right-radius: 3px;
}
footer .ferry-widget.widget_search .btn-default, footer .ferry-widget.widget_search .btn-default:hover {
	background-color: initial;
}
footer .ferry-widget.widget_search .btn:hover, footer .ferry-widget.widget_search .btn:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget h6 {
	font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
    position: relative;
    padding-bottom: 12px;
}
footer .ferry-widget ul {
	padding: 0;
	list-style: none;
}
footer .ferry-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
footer .ferry-widget ul li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget ul li:first-child {
	padding-top: 0;
}
footer .ferry-widget ul li:last-child {
	border-bottom: none;
}
footer .ferry-widget ul li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ferry-widget ul li a {
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget ul li a:hover {
	padding-left: 10px;
}
footer .ferry-widget .list-unstyled li:first-child {
	padding-top: 0;
}
footer .ferry-widget .list-unstyled li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .ferry-widget .list-unstyled li {
	border-width: 1px;
	border-style: solid;
}
footer .ferry-widget .list-unstyled li :last-child {
	border-bottom: none;
}
footer .ferry-widget .list-unstyled li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget .list-unstyled li a {
	line-height: 25px;
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget .list-unstyled li a:hover {
	padding-left: 10px;
}
footer .ferry-widget .ferry-social {
	padding: 10px 0px;
}
footer .ferry-widget .ferry-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}
footer .ferry-widget .ferry-social li a:hover {
	padding-left: 0;
}
footer .ferry-widget .ferry-social li span.icon-soci {
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 8px;
	text-align: center;
	width: 32px;
	border-radius: 3px;
}
footer .ferry-widget .ferry-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget .ferry-social li span.icon-soci i {
	font-size: 16px;
}
footer .ferry-widget .ferry-widget-tags, footer .ferry-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
footer .ferry-widget .ferry-widget-tags a, footer .ferry-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px !important;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
footer .ferry-widget .ferry-widget-tags a:hover, footer .ferry-widget .tagcloud a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-widget .ferry-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	border: none;
	font-size: 12px;
}
footer .ferry-widget-payment a {
	font-size: 30px;
}
footer .ferry-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
footer .ferry-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .ferry-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
}
footer .ferry-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
footer .calendar_wrap table tbody td:hover {
	transition: all 0.3s ease 0s;
}
footer .ferry-widget .calendar_wrap table tfoot {
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
}
footer .ferry-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
footer .ferry-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
footer .ferry-widget .textwidget select, footer .ferry-widget .textwidget img {
	width: 100%;
}
footer .ferry-blog-post {
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
footer .ferry-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
footer .ferry-blog-post .ferry-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
footer .ferry-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
footer .ferry-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
footer .ferry-widget .form-control {
	border-width: 2px;
	border-style: solid;
	height: 40px;
}
/*----woocommerce footer-widget----*/
footer .ferry-widget.widget_product_search .btn {
	padding: 2px 12px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}
/*----contactform footer-widget----*/
footer .ferry-widget .wpcf7-form .wpcf7-form-control {
	border: none;
}
footer .ferry-footer-copyright {
	padding: 25px 0 10px;
}
footer .ferry-footer-copyright p, footer .ferry-footer-copyright a {
	font-size: 13px;
	line-height: 23px;
}
footer .ferry-social {
	padding: 0px;
	margin: 0;
}
footer .ferry-social li {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none;
}
footer .ferry-social li a:hover {
	padding-left: 0;
}
footer .ferry-social li span.icon-soci {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0px 4px;
	text-align: center;
	width: 40px;
	border-radius: 50px;
	box-shadow: 0 1px 17px -4px rgba(0, 0, 0, 0.26);
	background: rgba(255, 255, 255, 0.08);
}
footer .ferry-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .ferry-social li span.icon-soci a {
	font-size: 16px;
}
/* --------------------------------------
=========================================
	ferry-scroll-button
=========================================
-----------------------------------------*/
.ferry_scroll {
	bottom: 2%;
	display: none;
	height: 50px;
	line-height: 55px;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 50px;
	z-index: 9999;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ferry_scroll:hover {
	opacity: 1;
}
.ferry_scroll i {
	font-size: 26px;
}
.ferry_scroll:hover, .ti_scroll:focus {
	transition: all 0.3s ease 0s;
}
/* --------------------------------------
/* --------------------------------------
=========================================
	ferry-Responsive Part
=========================================
-----------------------------------------*/
@media (max-width: 992px) {
.woocommerce-page .woocommerce .cart-collaterals .cart_totals {
	width: 100%;
}
.woocommerce-page .products .product > a:first-child {
/*		min-height: 325px; */
}
.ferry-trhead {
	position: relative;
}
}
@media (max-width: 767.98px) {
.ferry-slide {
    height: auto;
    min-height: 300px;
}
#ferry-slider .slide-caption {
	width: 100%;
}
.ferry-calltoaction {
	text-align: center;
}
.ferry-calltoaction .btn{
	margin-bottom: 20px;
}
.ferry-breadcrumb-title h1 {
    font-size: 32px;
    line-height: 1.25;
}
.ferry-heading h3 {
    font-size: 38px;
}
.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	width: 48%;
	float: left;
	clear: both;
	margin: 0 0 2.992em;
}
.woocommerce .upsells.products ul li.product:nth-child(4), .woocommerce-page ul.products li.product:nth-child(4) {
	margin: 0 0 2.992em;
}
.woocommerce .upsells.products ul li.product:nth-child(4+1), .woocommerce-page ul.products li.product:nth-child(4+1) {
	clear: none;
}
.woocommerce .upsells.products ul li.product:nth-child(even), .woocommerce-page ul.products li.product:nth-child(even) {
	margin-right: 0;
	float: right;
}
.woocommerce .upsells.products ul li.product:nth-child(odd), .woocommerce-page ul.products li.product:nth-child(odd) {
	clear: left;
}
}
@media (max-width: 600px) {
.woocommerce-page .product .images {
	width: 100%;
}
.woocommerce-page .product .entry-summary {
	width: 100%;
	padding-left: 0%;
	margin-top: 50px;
}
.woocommerce-page .woocommerce-tabs .tabs li a {
	font-size: 14px;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	padding: 10px 10px;
}
.listpost-content-wrap-large {
	position: relative;
}
.listpost-content-wrap-large {
	padding: 20px 0px 0px 0px;
}
.entry-meta-large {
	position: relative;
	float: left;
	width: 100%;
}
.entry-footer-large {
	padding-right: 0;
}
}
@media (max-width: 480px) {
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 100%;
}
.woocommerce-page .woocommerce-result-count {
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
.woocommerce-page .woocommerce-ordering {
	float: none;
}
.woocommerce-page .products .product > a:first-child {
	width: 240px;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	width: 100%;
}
.woocommerce-page .woocommerce-tabs .tabs li {
	width: 100%;
	border-bottom: 2px solid #CCC;
}
.woocommerce-page .woocommerce-tabs .tabs {
	border-bottom: 0;
}
.woocommerce-page .woocommerce-tabs .comment_container {
	position: relative;
	padding-left: 0px;
	padding-top: 50px;
}
.woocommerce-page .products .product > a:first-child {
	width: 100%;
}
/* cart page */
.woocommerce table.shop_table th {
	padding: 5px 5px;
	font-size: 8px;
}
.woocommerce-page .woocommerce .product-name a {
	font-size: 12px;
	line-height: 16px;
	float: left;
}
.woocommerce table.shop_table td {
	padding: 20px 12px;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table td span, .woocommerce table.shop_table td a, .woocommerce table.shop_table td strong {
	font-size: 12px;
}
.woocommerce table.shop_table td .amount {
	font-size: 12px;
}
.woocommerce-page .woocommerce .product-quantity input.qty {
	width: 45px;
}
.woocommerce td.product-quantity {
	min-width: 40px;
}
.woocommerce-page .woocommerce input[type="submit"] {
	font-size: 10px;
}
.woocommerce-page .woocommerce .cart_totals tr.cart-subtotal th {
	font-size: 12px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	font-size: 12px;
}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table td span, .woocommerce-cart .cart-collaterals .cart_totals table td a {
	font-size: 12px;
}
.woocommerce form .form-row label {
	font-size: 12px;
}
.woocommerce-page .woocommerce .woocommerce-info, .woocommerce-page .woocommerce .woocommerce-info a {
	font-size: 12px;
}
.woocommerce-checkout-payment label {
	font-size: 14px;
}
.woocommerce-page .woocommerce #payment div.payment_box p {
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}
.woocommerce form .form-row {
	width: 100%;
}
.woocommerce-page .woocommerce .order_details li {
	width: 100%;
	border-bottom: 1px dashed #d3ced2;
	border-right: none;
	padding: 0 0 5px 0;
	margin-bottom: 5px;
	margin-top: 5px
}
.woocommerce-page address {
	font-size: 12px;
}
.woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error li {
	font-size: 12px;
}
.woocommerce-page .woocommerce .cart-collaterals .cart_totals a {
	width: 100%;
	margin-right: 0;
}
.woocommerce-page .woocommerce .checkbox {
	font-size: 16px;
}
.woocommerce-page .myaccount_address {
	font-size: 12px;
}
.woocommerce-page #content .quantity input.minus, .woocommerce-page #content .quantity input.plus {
	display: none;
}
.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	width: 100%;
}
}
/* [end] woocommerce */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-header {
	float: none;
}
}
 @media only screen and (min-width: 240px) and (max-width: 460px) {
.ferry-footer-top-area .ferry-app-widget .btn {
	margin-top: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
/* Top Details*/
.ferry-head-detail .info-left {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
.ferry-head-detail .info-right {
	float: none;
	text-align: center;
	margin: 10px 0 17px;
	float: none;
}
/* logo*/
.navbar-default .navbar-brand {
	margin: 0 auto;
	text-align: center;
}
.navbar-wp .navbar-nav > li > a {
	padding: 12px;
	border-bottom: 1px solid #eee;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 8;
}
.navbar-wp .ferry-search-box {
	float: left;
}
.ferry-search {
	margin: 0 auto;
}
.ferry-plans .ferry-plan.active {
	transform: scale(1);
}
.ferry-subscriber .subscription-form .int-box {
	width: 100%;
}
}
@media screen and (min-width: 1024px) {
.ferry-slider-inner {
}
}
@media screen and (min-width: 240px) and (max-width: 1179px) {
.boxed {
	width: auto;
}
.ferry-slider-inner p {
	width: auto;
}
}
@media screen and (min-width: 530px) and (max-width: 1024px) {
/*--------------- ferry-slider ---------------*/
.ferry-slider-inner {
	min-width: auto !important;
	width: auto !important;
}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
#ferry-slider .slide-caption h1{
	font-size: 450%;
}
}
@media screen and (min-width: 240px) and (max-width: 767px) {
/*--------------- ferry-slider ---------------*/
.ferry-slider-inner {
	min-width: auto !important;
	width: auto !important;
}
#ferry-slider .slide-caption h1{
	font-size: 180%;
	line-height: 40px;
	letter-spacing: 0;
}
#ferry-slider .slide-caption .description {
	font-size: 100%;
	line-height: 1em;
	margin: 0 auto;
	width: 100%;
}
.ferry-slider-warraper .owl-controls .owl-buttons div {
	width: 30px;
	height: 30px;
	font-size: 200%;
	line-height: 10px;
	border-width: 2px;
	border-style: solid;
}
}

/*--------------- Gallary ---------------*/


.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #fff;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

@media (max-width: 991.98px) {
#menu-primary li.active.home {
	display: none;
}
.m-header {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
}
.desk-header {
	display: none;
}
}