.select2-dropdown{
  z-index: 8888880;
}
.select2-container{
  z-index: 9999990;
}

/* force with id priority to override theme defaults */
#xt_woofc {

  .xt_woofc-checkout-form {
    padding: 15px;
    margin-top: -1px;
    border-top: var(--xt-woofc-border);
    font-size: var(--xt-woofc-checkout-form-font-size);
    
    .blockUI {
      display: none !important;
    }

    h3:not(#ship-to-different-address) {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: calc(var(--xt-woofc-checkout-form-font-size) * 0.70);
    }

    input,
    select{
      font-size: calc(var(--xt-woofc-checkout-form-font-size) * 0.50);
    }

    .woocommerce-shipping-fields {
      margin-top: 10px;
    }

    .woocommerce-additional-fields {
      margin-top: 20px;
    }

    .form-row {
      padding: 3px 0;
    }

    #order_review,
    #order_review_heading {
      width: 100%;
      float: none;
      clear: initial;
    }

    #payment .place-order {

      padding: 0 !important;

      .button {
        display: none !important;
      }
    }

    .woocommerce-terms-and-conditions-wrapper {
      padding: 10px 15px;
      line-height: 1.3;
      font-size: 80%;
    }
  }
}