/* --------------------------------

Main Components

-------------------------------- */

.xt_woofc-error {
	box-shadow: 0 0 5px 4px rgba(255, 0, 0, 0.45);
	padding: 10px 15px !important;
	transition: all 0.3s;
}

.xt_woofc-hide {
	display: none;
}

.xt_woofc {

	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: inherit;

	.xtfw-no-transitions & {
		transition: none !important;
		animation: none !important;

		* {
			transition: none !important;
			animation: none !important;
		}
	}

	.customize-partial-edit-shortcut {
		display: none;
	}

	&::before {
		/* dark bg layer visible when the cart is open */
		content: '';
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s, visibility .4s;
		background: var(--xt-woofc-overlay-color);
		z-index: var(--xt-woofc-zindex);
	}

	&.xt_woofc-cart-open::before {
		opacity: 1;
		visibility: visible;
	}

	* {
		line-height: inherit;
	}

	*, *::after, *::before {
		box-sizing: border-box;
		word-break: initial;
		word-wrap: initial;
	}

	.xtfw-touchevents a {
		pointer-events: none !important;
	}

	a {
		text-decoration: none;

		&:focus {
			outline: initial;
		}
	}

	i {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}

	img {
		max-width: 100%;
	}

	em {
		font-style: inherit;
	}

}

.xt_woofc-clearfix {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0;
}

.xt_woofc-no-product {
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	transition: opacity .4s, visibility .4s, height 0.4s 0.2s;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.4px;
}


.xt_woofc-inner {
	position: fixed;
	transition: transform .2s, opacity .3s .5s, background .3s 0s, height .3s;
	/* Force Hardware Acceleration in WebKit */
	transform: scale(0);
	-webkit-backface-visibility: hidden;
	will-change: background, height;
	backface-visibility: hidden;
	opacity: 0;
	z-index: calc(var(--xt-woofc-zindex) + 1);
	width: var(--xt-woofc-width);
	height: var(--xt-woofc-height);
	max-width: calc(100% - (var(--xt-woofc-hoffset) * 2));
	max-height: calc(100% - (var(--xt-woofc-voffset) * 2));
	margin: var(--xt-woofc-voffset) var(--xt-woofc-hoffset) var(--xt-woofc-voffset) var(--xt-woofc-hoffset);
	min-height: 240px;
	pointer-events: none;
	transform-origin: center center;

	.admin-bar .xt_woofc-is-desktop & {
		max-height: calc(100% - (var(--xt-woofc-voffset) * 2) - 32px);
	}

	.admin-bar .xt_woofc-is-tablet &,
	.admin-bar .xt_woofc-is-mobile & {
		max-height: calc(100% - (var(--xt-woofc-voffset) * 2) - 46px);
	}

	.xt_woofc-ready & {
		opacity: 1;
		transform: scale(1);
	}

	.xt_woofc-hide-thumbs & {
		.xt_woofc-product-image {
			display: none;
		}

		.xt_woofc-product-details {
			width: 100%;
			padding-left: 0;
		}
	}

	.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right & {
		bottom: 0;
		right: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left & {
		bottom: 0;
		left: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right & {
		top: 0;
		right: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left & {
		top: 0;
		left: 0;
	}

	.xt_woofc-cart-open.xt_woofc-modal &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal & {
		margin: 0;
	}

	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right & {
		top: 50% !important;
		left: 50% !important;
		bottom: initial !important;
		right: initial !important;
		transform: translateX(-50%) translateY(-50%) !important;
	}

	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left & {
		top: 50% !important;
		right: 50% !important;
		bottom: initial !important;
		left: initial !important;
		transform: translateX(50%) translateY(-50%) !important;
	}

	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right & {
		bottom: 50% !important;
		left: 50% !important;
		top: initial !important;
		right: initial !important;
		transform: translateX(-50%) translateY(50%) !important;
	}

	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left & {
		bottom: 50% !important;
		right: 50% !important;
		top: initial !important;
		left: initial !important;
		transform: translateX(50%) translateY(50%) !important;
	}


	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-bottom-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-bottom-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) & {
		transform: translateY(150px);
		opacity: 0;
	}

	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-top-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-top-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left:not(.xt_woofc-force-visible):not(.xt_woofc-cart-open) & {
		transform: translateY(-150px);
		opacity: 0;
	}

	.xt_woofc-empty & {
		.xt_woofc-checkout {
			opacity: 0;
			visibility: hidden;
		}

		.xt_woofc-no-product {
			opacity: 1;
			visibility: visible;
			height: inherit;
		}

		.xt_woofc-footer {
			box-shadow: none;
		}

		.xt_woofc-body-footer {
			opacity: 0;
		}
	}

	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right & {

		.xt_woofc-checkout {
			transform: translateX(-10%);
		}
	}

	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	.xt_woofc-empty.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	.xt_woofc-empty.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left &,
	.xt_woofc-empty.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left & {

		.xt_woofc-checkout {
			transform: translateX(10%);
		}
	}
}

.xt_woofc-trigger {
	/* button that triggers the cart content */
	z-index: calc(var(--xt-woofc-zindex) + 2);
	height: var(--xt-woofc-trigger-size);
	width: var(--xt-woofc-trigger-size);
	color: transparent;
	white-space: nowrap;
	outline: none !important;
	border-radius: var(--xt-woofc-radius);
	background: var(--xt-woofc-trigger-bg-color);

	.xt_woofc-hide-trigger & {
		opacity: 0;
		visibility: hidden;
	}

	.xt_woofc-cart-open & {

		background: var(--xt-woofc-trigger-bg-active-color);
	}

	.xt_woofc-trigger-close-icon,
	.xt_woofc-trigger-cart-icon {
		/* used to create the cart/'X' icon */
		position: absolute;
		@include center;
		height: 100%;
		width: 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: contain;
		transition: opacity .3s .2s, transform .3s .2s;
	}

	.xt_woofc-trigger-close-icon {
		color: var(--xt-woofc-trigger-close-icon-color);
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) rotate(90deg);
	}

	&.xt_woofc-icontype-image .xt_woofc-trigger-cart-icon {
		background-image: url(../img/open.svg);
	}

	&.xt_woofc-icontype-image .xt_woofc-trigger-close-icon {
		background-image: url(../img/close.svg);
	}

	&.xt_woofc-icontype-font {
		.xt_woofc-trigger-cart-icon:before,
		.xt_woofc-trigger-close-icon:before {
			position: absolute;
			font-size: calc(var(--xt-woofc-trigger-size) * 0.55);
			line-height: var(--xt-woofc-trigger-size);
			width: 100%;
			text-align: center;
			cursor: pointer;
		}

		.xt_woofc-trigger-cart-icon:before {
			color: var(--xt-woofc-trigger-cart-icon-color);
		}

		.xt_woofc-trigger-close-icon:before {
			color: var(--xt-woofc-trigger-close-icon-color);
		}
	}

	.xt_woofc-count {
		/* number of items indicator */
		position: absolute;
		height: var(--xt-woofc-counter-size);
		width: var(--xt-woofc-counter-size);
		background-color: var(--xt-woofc-counter-bg-color);
		color: var(--xt-woofc-counter-color);
		font-size: var(--xt-woofc-counter-font-size);
		font-weight: 700;
		line-height: 0;
		border-radius: 50%;
		text-indent: 0;
		opacity: 0;
		padding: 0;
		margin: 0;
		transition: opacity .2s .4s, width .2s, height .2s, transform .2s 0.4s ease;
		list-style: none;
		will-change: width, height;
		backface-visibility: hidden;

		&.xt_woofc-count-big {
			height: calc(var(--xt-woofc-counter-size) * 1.3);
			width: calc(var(--xt-woofc-counter-size) * 1.3);
		}

		&.xt_woofc-count-bigger {
			height: calc(var(--xt-woofc-counter-size) * 1.7);
			width: calc(var(--xt-woofc-counter-size) * 1.7);
		}

		.xt_woofc-ready .xt_woofc:not(.xt_woofc-cart-open) & {
			opacity: 1;
		}

		.xt_woofc-cart-open &,
		.xt_woofc:not(.xt_woofc-cart-opened) & {
			transition: opacity .1s, transform .1s ease;
		}

		.xt_woofc-cart-open.xt_woofc-modal & {
			transition: none;
		}

		.xt_woofc-is-desktop.xt_woofc-counter-pos-top-left &,
		.xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-top-left &,
		.xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-top-left & {
			top: 0;
			left: 0;
			transform: scale(0) translateY(-50%) translateX(-50%);
			transform-origin: top left;
		}

		.xt_woofc-is-desktop.xt_woofc-counter-pos-top-right &,
		.xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-top-right &,
		.xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-top-right & {
			top: 0;
			right: 0;
			transform: scale(0) translateY(-50%) translateX(50%);
			transform-origin: top right;
		}

		.xt_woofc-is-desktop.xt_woofc-counter-pos-bottom-left &,
		.xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-bottom-left &,
		.xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-bottom-left & {
			bottom: 0;
			left: 0;
			transform: scale(0) translateY(50%) translateX(-50%);
			transform-origin: bottom left;
		}

		.xt_woofc-is-desktop.xt_woofc-counter-pos-bottom-right &,
		.xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-bottom-right &,
		.xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-bottom-right & {
			bottom: 0;
			right: 0;
			transform: scale(0) translateY(50%) translateX(50%);
			transform-origin: bottom right;
		}

		.xt_woofc-ready .xt_woofc-is-desktop.xt_woofc-counter-pos-top-left:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-top-left:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-top-left:not(.xt_woofc-cart-open) & {
			transform: scale(1) translateY(-50%) translateX(-50%);
		}

		.xt_woofc-ready .xt_woofc-is-desktop.xt_woofc-counter-pos-top-right:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-top-right:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-top-right:not(.xt_woofc-cart-open) & {
			transform: scale(1) translateY(-50%) translateX(50%);
		}

		.xt_woofc-ready .xt_woofc-is-desktop.xt_woofc-counter-pos-bottom-left:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-bottom-left:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-bottom-left:not(.xt_woofc-cart-open) & {
			transform: scale(1) translateY(50%) translateX(-50%);
		}

		.xt_woofc-ready .xt_woofc-is-desktop.xt_woofc-counter-pos-bottom-right:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-tablet.xt_woofc-counter-tablet-pos-bottom-right:not(.xt_woofc-cart-open) &,
		.xt_woofc-ready .xt_woofc-is-mobile.xt_woofc-counter-mobile-pos-bottom-right:not(.xt_woofc-cart-open) & {
			transform: scale(1) translateY(50%) translateX(50%);
		}

		li {
			/* this is the number of items in the cart */
			list-style: none;
			position: absolute;
			transform: translateZ(0);
			margin: 0;
			line-height: initial;
			@include center;

			&:last-of-type {
				visibility: hidden;
			}
		}

		&.xt_woofc-update-count li:last-of-type {
			animation: xt_woofc-qty-enter .15s linear 0s 1 forwards;
		}

		&.xt_woofc-update-count li:first-of-type {
			animation: xt_woofc-qty-leave .15s linear 0s 1 forwards;
		}
	}
}


.xt_woofc-wrapper {
	position: absolute;
	z-index: 2;
	border-radius: var(--xt-woofc-radius);
	pointer-events: auto;
	will-change: transform, width, height, box-shadow, padding-bottom;
	box-shadow: 0 4px 30px rgba(#000, .17);

	.xtfw-no-touchevents &:hover,
	.xtfw-touchevents &:focus,
	.xt_woofc-cart-open & {

		box-shadow: 0 6px 30px rgba(#000, .3);
	}

	.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right & {
		bottom: 0;
		right: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left & {
		bottom: 0;
		left: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right & {
		top: 0;
		right: 0;
	}

	.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left & {
		top: 0;
		left: 0;
	}

	//
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-right &{
	//  bottom: 50%;
	//  right: 50%;
	//  transform: translateX(50%) translateY(50%);
	//}
	//
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-bottom-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-bottom-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-bottom-left &{
	//  bottom: 50%;
	//  left: 50%;
	//  transform: translateX(-50%) translateY(50%);
	//}
	//
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-right &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-right &{
	//  top: 50%;
	//  right: 50%;
	//  transform: translateX(50%) translateY(-50%);
	//}
	//
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	//.xt_woofc-cart-open.xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-desktop.xt_woofc-pos-top-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-tablet.xt_woofc-tablet-pos-top-left &,
	//.xt_woofc-cart-close:not(.xt_woofc-cart-closed).xt_woofc-modal.xt_woofc-is-mobile.xt_woofc-mobile-pos-top-left &{
	//  top: 50%;
	//  left: 50%;
	//  transform: translateX(-50%) translateY(-50%);
	//}

}

.xt_woofc-header,
.xt_woofc-footer {
	position: absolute;
	z-index: 2;
	left: 0;
	width: 100%;
}

.xt_woofc-header {
	top: 0;
	padding: 0 1.4em;
	transition: opacity .2s 0s, border-radius 0.5s;
	background: var(--xt-woofc-header-bg-color);
	height: var(--xt-woofc-header-height);
	line-height: var(--xt-woofc-header-height);
	border-bottom: var(--xt-woofc-border-width) var(--xt-woofc-border-style) var(--xt-woofc-header-border-color);
	border-radius: var(--xt-woofc-radius) var(--xt-woofc-radius) 0 0;
	@include clearfix;

	/* fixes weird 1px space below header */
	.xt_woofc-modal & {
		top: 1px;
	}
}

.xt_woofc-footer {
	border-radius: 0 0 var(--xt-woofc-radius) var(--xt-woofc-radius);
	bottom: 0;

	.xt_woofc-cart-opened &,
	.xt_woofc-cart-open & {
		box-shadow: 0 -2px 20px rgba(#000, .15);
		background: var(--xt-woofc-bg-color);
		transition: box-shadow 0.5s, border-radius 0.5s;
		overflow: hidden;
	}
}

.xt_woofc-title {
	display: block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: var(--xt-woofc-header-title-color);

	svg {
		display: inline-block;
		transform: rotate(180deg);
		margin-right: 8px;
		height: 40px;
		vertical-align: top;
		width: 20px;

		* {
			stroke: var(--xt-woofc-header-title-color);
		}
	}
}

.xt_woofc-header-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	cursor: pointer;
	padding: 0 12px;
	border-left: var(--xt-woofc-border-width) var(--xt-woofc-border-style) var(--xt-woofc-header-border-color);

	&:before {
		transition: transform 0.5s;
		color: var(--xt-woofc-header-close-color);
	}

	&[class*=xt_woofcicon-close]:hover:before,
	&[class*=xt_woofcicon-delete]:hover:before,
	&[class*=xt_woofcicon-cross]:hover:before,
	&[class*=xt_woofcicon-circle]:hover:before {
		transform: scale(1.2) rotate(360deg);
	}

	&[class*=xt_woofcicon-arrow]:hover:before {
		transform: scale(1.2);
	}
}

.xt_woofc-notice,
.xt_woofc-coupon {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1.4px;
	opacity: 0;
	visibility: hidden;
	transition: transform .3s, opacity .3s, visibility .3s;
	color: var(--xt-woofc-header-color);
	transform: scale(0);
	white-space: nowrap;

	&.xt_woofc-notice-error {

		color: var(--xt-woofc-header-error-color);

		&.xt_woofc-shake {
			animation: xt_woofc-shake 0.82s 0.3s cubic-bezier(.36, .07, .19, .97) both;
			backface-visibility: hidden;
			perspective: 300px;
			transform: translateX(0) scale(1);
		}
	}

	.xt_woofc-header-close-enabled & {
		right: 55px;
	}

	a {
		text-decoration: underline;
		color: var(--xt-woofc-header-link-color);
		transition: color 0.3s;

		.xtfw-no-touchevents &:hover,
		.xtfw-touchevents &:focus {
			color: var(--xt-woofc-header-link-hover-color);
		}

		&.button {
			color: inherit;
		}
	}

	&.xt_woofc-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}

.xt_woofc-coupons-visible .xt_woofc-coupon,
.xt_woofc-empty .xt_woofc-coupon {
	opacity: 0 !important;
	visibility: hidden !important;
}

.xt_woofc-checkout {
	display: block;
	height: var(--xt-woofc-checkout-btn-height);
	line-height: var(--xt-woofc-checkout-btn-height);
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	transition: all .5s;
	transform: translateX(0);
	overflow: hidden;
	opacity: 0;
	word-wrap: initial;

	.xt_woofc-hide-trigger & {
		margin: 0 !important;
	}

	.xt_woofc-dash,
	.amount {
		transition: width 0.2s, opacity 0.2s;
		display: inline-block;
		line-height: 1;
	}

	&.xt_woofc-processing {
		.xt_woofc-dash,
		.amount {
			width: 0;
			overflow: hidden;
			opacity: 0;
		}
	}

	.xt_woofc-cart-opened & {
		transition: all .3s 0s, opacity 0.3s 0.15s;
	}

	.xt_woofc-cart-open & {
		opacity: 1;
		transition: color 0.2s, opacity 0.3s, visibility 0.3s, transform 0.5s ease, border-radius .5s;
		background: var(--xt-woofc-checkout-btn-bg-color);

		em {
			transform: translateX(0);
			transition: transform .2s .1s, padding .2s 0s;

			.xt_woofc-checkout-arrow * {
				stroke: var(--xt-woofc-checkout-btn-color);
			}
		}

		.xtfw-no-touchevents &:not(.xt_woofc-processing):hover,
		.xtfw-touchevents &:not(.xt_woofc-processing):focus {

			background: var(--xt-woofc-checkout-btn-bg-hover-color);

			em {

				color: var(--xt-woofc-checkout-btn-hover-color);
				padding-right: 30px;

				.xt_woofc-checkout-arrow {
					opacity: 1;

					* {
						stroke: var(--xt-woofc-checkout-btn-hover-color);
					}
				}
			}
		}

		@include MQ_MAX(XS) {

			.amount,
			.xt_woofc-dash {
				display: none;
			}
		}

	}

	.xtfw-no-touchevents &:hover,
	.xtfw-touchevents &:focus {
		background: var(--xt-woofc-checkout-btn-bg-hover-color);
	}

	em {
		position: relative;
		display: inline-block;
		transform: translateX(40px);
		transition: transform 0s .2s;
		color: var(--xt-woofc-checkout-btn-color);

		.xt_woofc-checkout-arrow {
			position: absolute;
			@include center(y);
			right: 0;
			height: 24px;
			width: 24px;
			opacity: 0;
			transition: opacity .2s;
		}
	}

	@include MQ_MIN(M) {
		font-size: 24px;
	}
}

.xt_woofc-body {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1;
	padding: 0;
	overflow: auto;
	margin: var(--xt-woofc-header-height) 0 0;
	/* add 2px to avoid shadow flicker above checkout button */
	height: calc(100% - var(--xt-woofc-header-height) - var(--xt-woofc-checkout-btn-height) + 2px);
	color: var(--xt-woofc-color);
	background-color: var(--xt-woofc-bg-color);
	-webkit-overflow-scrolling: touch;
	transition: opacity .2s;

	.xt_woofc-coupons-visible & {
		flex-direction: column;
		overflow: hidden;
	}

	a {
		color: var(--xt-woofc-link-color);
		transition: color 0.3s;

		.xtfw-no-touchevents &:hover,
		.xtfw-touchevents &:focus {
			color: var(--xt-woofc-link-hover-color);
		}

		&.button {
			background: var(--xt-woofc-checkout-btn-bg-color) !important;
			color: var(--xt-woofc-checkout-btn-color) !important;
			border: 0 !important;

			&:hover {
				background: var(--xt-woofc-checkout-btn-bg-hover-color) !important;
				color: var(--xt-woofc-checkout-btn-hover-color) !important;
			}
		}
	}

	.xt_woofc-body-header {
		color: var(--xt-woofc-header-color);
		background: var(--xt-woofc-header-bg-color);
		border-bottom: var(--xt-woofc-border);
		margin-top: -1px;

		> *:not(:last-child) {
			border-bottom: var(--xt-woofc-border);
		}

		a {
			color: var(--xt-woofc-header-link-color);
			transition: color 0.3s;

			.xtfw-no-touchevents &:hover,
			.xtfw-touchevents &:focus {
				color: var(--xt-woofc-header-link-hover-color);
			}

			&.button {
				color: inherit;
			}
		}

		&:empty {
			display: none;
		}
	}

	.xt_woofc-body-footer {

		background-color: var(--xt-woofc-bg-color);
		border-top: var(--xt-woofc-border);
		margin-bottom: -1px;
		transition: opacity 0.2s 0.4s;

		.woocommerce-form-login-toggle {

			.woocommerce-info {
				margin: 0;
				background-color: initial;
				border: initial;
				color: initial;
				font-weight: 600;
				padding-top: 15px;
				padding-bottom: 15px;

				a {
					float: right;
				}
			}
		}

		form.woocommerce-form-login {
			padding: 15px;
			border: 0;
			border-top: 1px solid #eaeaea;
			border-radius: 0;
			margin: 0;
		}

		&:empty {
			display: none;
		}

		.xt_woofc-loading-hide-content & {
			opacity: 0;
			transition: 0.3s
		}
	}

	.woocommerce-cart-form {
		display: none;
	}

	.xt_woofc-list-wrap {
		flex: 1;
	}

	.xt_woofc-list {
		padding: calc(var(--xt-woofc-list-gutter) * 1.2);
		position: relative;
		margin: 0 !important;
		list-style: none;

		.xt_woofc-empty & {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			white-space: nowrap;
		}

		html:not(.xt_woofc-loading) & {
			overflow: hidden;
		}

		li {
			position: relative;
			@include clearfix;
			opacity: 0;
			transform: translateX(80px);
			transition: opacity 0s .2s, transform 0s .2s;
			list-style: none;
			margin: 0;

			&:not(:last-of-type):not(.xt_woofc-no-product) {
				margin-bottom: var(--xt-woofc-list-gutter);
				padding-bottom: var(--xt-woofc-list-gutter);

				&:not(.xt_woofc-deleting-last) {
					border-bottom: var(--xt-woofc-list-border);
				}
			}

			&.xt_woofc-deleting-last {
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
			}

			.xt_woofc-deleting-last {
				margin-bottom: var(--xt-woofc-list-gutter);
				padding-bottom: var(--xt-woofc-list-gutter);
			}

			.xt_woofc-cart-open & {

				transition: transform .3s .2s, opacity .3s .2s;
				opacity: 1;
				transform: translateX(0);

				&.xt_woofc-deleted {
					/* this class is added to an item when it is removed form the cart */
					position: absolute;
					left: 1.4em;
					width: calc(100% - 2.8em);
					opacity: 0 !important;
					animation: xt_woofc-item-slide-out .3s forwards;

					&.xt_woofc-undo-deleted {
						/* used to reinsert an item deleted from the cart when user clicks 'Undo' */
						animation: xt_woofc-item-slide-in .3s forwards;
					}
				}

				&:nth-of-type(2) {
					transition-duration: .4s;
				}

				&:nth-of-type(3) {
					transition-duration: .5s;
				}

				&:nth-of-type(4) {
					transition-duration: .6s;
				}

				&:nth-of-type(5) {
					transition-duration: .7s;
				}

				&:nth-of-type(6) {
					transition-duration: .75s;
				}

				&:nth-of-type(7) {
					transition-duration: .8s;
				}

				&:nth-of-type(8) {
					transition-duration: .85s;
				}

				&:nth-of-type(9) {
					transition-duration: .9s;
				}

				&:nth-of-type(10) {
					transition-duration: .95s;
				}

			}

			&.xt_woofc-deleted + li {
				animation: xt_woofc-item-move-up .3s;
				animation-fill-mode: forwards;
			}

			&.xt_woofc-undo-deleted + li {
				animation: xt_woofc-item-move-down .3s;
				animation-fill-mode: forwards;
			}
		}
	}
}

.xt_woofc-product-image {
	overflow: hidden;
	width: var(--xt-woofc-product-image-width);
	align-self: flex-start;
	display: inline-flex;
	border-radius: calc(var(--xt-woofc-product-image-border-radius) + var(--xt-woofc-product-image-border-width) + var(--xt-woofc-product-image-padding));
	border: var(--xt-woofc-product-image-border-width) solid var(--xt-woofc-product-image-border-color);
	padding: var(--xt-woofc-product-image-padding);

	.xt_woofc-squared-thumbnail & {
		height: var(--xt-woofc-product-image-height);
	}

	a {
		border-radius: var(--xt-woofc-product-image-border-radius);
		overflow: hidden;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

meta.xt_woofc-product-image {
	display: none;
}

.xt_woofc-product-details {
	padding: 0 0 0 4%;
	width: calc(100% - var(--xt-woofc-product-image-width));
	@include clearfix;

	@include MQ_MAX(XS) {
		width: 100%;
	}
}

.xt_woofc-product-body {
	flex-direction: column;

	p {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		&.xt_woofc-backorder-notification {
			margin-bottom: 10px;
			font-weight: 700;
		}
	}

}

.xt_woofc-product-title,
.xt_woofc-price {
	font-weight: bold;
	font-size: 13.5px;

	@include MQ_MIN(M) {
		font-size: 18px;
	}
}

.xt_woofc-product-title {
	/* truncate title with dots if too long */
	white-space: var(--xt-woofc-product-title-wrap);
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.2;
	flex: 1;
	flex-direction: column;
	padding-right: 4%;
	color: var(--xt-woofc-product-title-color);

	.remove,
	.qty {
		display: none;
	}

	a,
	span.xt_woofc-product-title-inner {
		color: var(--xt-woofc-product-title-color);

		+ * {
			margin-top: 10px;
		}
	}

	a {

		.xtfw-no-touchevents &:hover,
		.xtfw-touchevents &:focus {
			text-decoration: none;
			color: var(--xt-woofc-product-title-hover-color);
		}
	}

	> *:not(.xt_woofc-product-title-inner) {
		font-weight: 400;
	}

}

.xt_woofc-product-attributes {
	display: block;
	width: 75%;
	overflow: hidden;
	margin-bottom: 15px;

	p {
		margin: 0;
	}

	dl {
		display: block;
		margin-right: 10px;
		margin-bottom: 2px;
		margin-top: 0;
		color: var(--xt-woofc-product-attributes-color);

		&.xt_woofc-sku {
			margin-bottom: 8px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:not(.xt_woofc-variation-inline):not(.xt_woofc-sku):before {
			content: '— ';
		}

		&.xt_woofc-variation-inline {
			display: inline-block;
			margin-right: 5px;
		}

		&.xt_woofc-variation-inline:after {
			content: '/';
		}

		&.xt_woofc-variation-inline:last-child:after {
			content: '';
		}

		dt {
			display: inline-block;
			text-transform: capitalize;
			font-weight: 600;
			margin-right: 5px;
		}

		dd {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
		}
	}
}

.xt_woofc-price {
	display: flex;
	flex: 0;
	flex-direction: column;
	line-height: 1.2;
	color: var(--xt-woofc-product-price-color);
	position: relative;

	del {
		transform: translateY(calc(100% - 2px)) scale(0.8);
		transform-origin: right center;
		opacity: 0.7;
		position: absolute;
		right: 0;
	}

	ins {
		padding-bottom: 10px;
	}

	ins,
	del {
		background: none;
		color: var(--xt-woofc-product-price-color);
	}

	.tax_label {
		font-size: 12px;
		font-weight: 400;
		opacity: 0.7;
		text-align: right;
	}
}

.xt_woofc-actions {
	font-size: 12px;
	font-weight: 400;
	@include clearfix;
	display: flex;
	flex: 1;
	align-self: center;
	justify-content: flex-end;
	flex-wrap: wrap;

	a {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		color: var(--xt-woofc-product-remove-color);
		margin-left: 10px;

		.xtfw-no-touchevents &:hover,
		&:focus {
			color: var(--xt-woofc-product-remove-hover-color);
			text-decoration: none;
		}
	}

	@include MQ_MIN(M) {
		font-size: 14px;
	}
}

.xt_woofc-quantity {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@keyframes xt_woofc-qty-enter {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%) translateY(0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%) translateY(-50%);
	}
}

@keyframes xt_woofc-qty-leave {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%) translateY(-50%);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%) translateY(-100%);
	}
}

@keyframes xt_woofc-item-move-up {
	0% {
		padding-top: var(--xt-woofc-list-prev-item-height, 110px);
	}
	100% {
		padding-top: 0;
	}
}

@keyframes xt_woofc-item-move-down {
	0% {
		padding-top: 0;
	}
	100% {
		padding-top: var(--xt-woofc-list-prev-item-height, 110px);
	}
}

@keyframes xt_woofc-item-slide-out {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(80px);
		opacity: 0;
	}
}

@keyframes xt_woofc-item-slide-in {
	0% {
		transform: translateX(80px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes xt_woofc-shake {
	0% {
		transform: scale(1);
	}
	10%, 90% {
		transform: translateX(-1px) scale(1);
	}

	20%, 80% {
		transform: translateX(2px) scale(1);
	}

	30%, 50%, 70% {
		transform: translateX(-4px) scale(1);
	}

	40%, 60% {
		transform: translateX(4px) scale(1);
	}
}