/** Related Products **/
.xt_woofc-sp{

	border-top: var(--xt-woofc-border);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top:-1px;
	opacity: 0;
	color: var(--xt-woofc-color);
	background-color: var(--xt-woofc-bg-color);
	transition: opacity 0.3s;

	&.xt_woofc-sp-empty,
	&:empty{
		display:none;
	}

	.xt_woofc-empty &,
	.xt_woofc-loading &{
		opacity: 0!important;
	}

	.xt_woofc-sp-title{
		display: block;
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		color: var(--xt-woofc-sp-title-color);
		font-family: sans-serif;
	}

	li.xt_woofc-sp-item{
		text-align: center;
	}

	.xt_woofc-sp-item-wrap {
		display: inline-flex;
		flex:1;
		border: var(--xt-woofc-border);
		border-radius:3px;
		padding: 10px;
		width: 75%;
		align-items: center;
		max-width: 400px;

		.xt_woofc-narrow-cart &{
			width: 55%;
			display: block;
			margin: 0 auto;
			padding: 15px;
		}
	}

	.xt_woofc-sp-left-area {
		width: var(--xt-woofc-product-image-width);

		.xt_woofc-narrow-cart &{

			margin: 0 auto 15px;
		}
	}

	.xt_woofc-sp-right-area{
		width: calc(100% - var(--xt-woofc-product-image-width));
		padding-left: 20px;
		text-align: left;
		height: 100%;

		.xt_woofc-narrow-cart &{
			width:100%;
			display: block;
			padding-left: 0;
			text-align: center;
		}

		> div,
		> span,
		> a{
			font-size: 14px;
			display: table;
		}

		span.price{
			display: table;
			margin-bottom: 10px;
			font-size: 14px;
			color: var(--xt-woofc-product-price-color);

			.xt_woofc-narrow-cart & {
				margin: 0 auto 15px;
			}
		}

		a.button{

			display:none!important;

			&.add_to_cart_button,
			&.xt_wooqv-trigger{
				display:inline-block!important;
				font-size: 12px;
				margin-top: 5px !important;
				margin-right: 5px !important;
				margin-bottom: 0!important;
				padding: 8px 10px!important;

				.xt_woofc-narrow-cart &{
					display:block!important;
					margin-right: 0 !important;
				}

				&.loading {
					padding: 8px 30px 8px 8px!important;
				}

			}

		}
	}

	.xt_woofc-sp-product-title{
		font-weight: 600;
		margin-bottom:5px;
		line-height: 1.3;
		white-space: var(--xt-woofc-product-title-wrap);
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;

		a{
			color: var( --xt-woofc-product-title-color);

			.xtfw-no-touchevents &:hover,
			.xtfw-touchevents &:focus {
				text-decoration: none;
				color: var( --xt-woofc-product-title-hover-color);
			}
		}

	}

	.lSSlideOuter .lSPager.lSpg{
		margin-top: 20px!important;
	}

	.lSAction {

		> a{
			background-image: none;
			transform: translateY(-50%);
			margin-top: 0;
			height: inherit;
			width: inherit;
			transition: color 0.3s;
			font-size: var(--xt-woofc-sp-arrow-size);
			color: var(--xt-woofc-sp-arrow-color);

			.xtfw-no-touchevents &:hover,
			.xtfw-touchevents &:focus {
				color: var(--xt-woofc-sp-arrow-hover-color);
			}
		}
		> .lSNext{
			right: 4%;
			.xt_woofc-sp-arrow-icon:before {
				transform: rotate(180deg);
			}
		}
		> .lSPrev{
			left: 4%;
		}
	}

	&.xt_woofc-sp-rows {

		opacity: 1;

		.xt_woofc-sp-products {
			display: flex;
			flex-direction: column;
		}

		.xt_woofc-sp-item-wrap {
			display: flex;
			margin: 0 auto;
			justify-items: end;
		}

		.xt_woofc-sp-item .xt_woofc-sp-item-wrap {
			margin-bottom: var(--xt-woofc-list-gutter);
			padding-bottom: var(--xt-woofc-list-gutter);
		}
	}
}