/*
 Theme Name:   Agency Maker
 Theme URI:    https://themehunk.com/product/agency-maker/
 Description:  Agency Maker is a child theme of featuredlite provides very unique look. It is good for small business, agencies, local business, blogging site, construction site, ecommerce site, music site, portfolio, photography site, fashion shop. It loaded with almost all section that requires to make a complete website.
 Author:       ThemeHunk Team
 Author URI:   http://www.themehunk.com/
 Template:     featuredlite
 Version:      1.0.1
 Requires at least: 4.5
 Tested up to: 5.5.1
 Requires PHP: 5.6
 License:      GNU General Public License v3 or later
 License URI:   http://www.gnu.org/licenses/gpl-3.0.html
Tags:one-column, two-columns, grid-layout, right-sidebar, custom-colors, custom-menu, theme-options, sticky-post, translation-ready, footer-widgets, blog  
 Text Domain:  agency-maker 
*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}
.main-header-section{ 
    background: linear-gradient(193deg , rgba(3, 11, 255, 0.78) 0%, rgba(210, 0, 107, 0.80) 100%);
}
.ribbon-section .ribbon-button button, .bottom-ribbon-section .ribbon-button button, .button-two .main-button button{
	font-weight: 600;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 4px;
    color: #ffffff;
    background-color:#03a9f4;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.ribbon-section .ribbon-button button:hover, .bottom-ribbon-section .ribbon-button button:hover {
    background-color: #ffaa32;
    color: #fff;
    -webkit-box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
	border-radius:5px;
}
span.featured-icon i, span.multi-featured-icon i, span.multi-testimonial-image img {
      border-radius: 5px;
}
h3.subhead-text{  
    font-size: 14px!important;
    font-style: normal;
    letter-spacing: 2px!important;
    line-height: 22px!important;
}
.ribbon-section h2.heading-area {
    font-size: 26px;
}
.main-head-partition {
margin-top: 15px;}

	  .featured-section.first span.featured-icon i, .featured-section.second span.featured-icon i, .featured-section.third span.featured-icon i{
background:#2cc2e6;
-webkit-transform: scale(.9); 
    -ms-transform: scale(.9);
    transform: scale(.9);
    margin-bottom: 10px;
}
.featured-section.first span.featured-icon i:after, .featured-section.second span.featured-icon i:after, .featured-section.third span.featured-icon i:after{
left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-top-color: #2cc2e6;
    border-width: .4em;
    margin-left: -.4em;
    bottom: -31px;
    z-index: -1;
}
span.featured-icon i, span.multi-featured-icon i {
    font-size: 45px;
    width: 80px;
    line-height: 80px;
}
.main-text h1 {
    font-size: 42px;
}
.main-text h2 {
    font-size: 22px;
}