/*!
Version: 1.18.0
*/
.block-editor-page .wp-block {
  max-width: 650px; }
  .block-editor-page .wp-block[data-align="wide"] {
    max-width: 1040px; }
  .block-editor-page .wp-block[data-align="full"] {
    max-width: none; }
